.memogroup { 
  float: left;
  width: 400px;
  height: 250px;
  border: #3f3f3f solid 1px;
  border-radius: 30px 30px;
  margin : 30px 10px;
}

.memo{
  float: left;
  width : calc(100%  / 3);
  height: 50px;
  margin: 30px 10px;
  background-color: #b0b0b0;
  border: #b0b0b0 solid 1px;
  border-radius: 30px 30px;
  color: white;
  font-size: small;
}
.loginForm{
  width: 500px;
  height: 300px;
  border: #b0b0b0 1px solid;
  border-radius: 50px;
}
